/*Importação da Fonte Lato, do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@100;300;500;700&display=swap');

/*Definição das Variáveis do CSS*/
:root {
    /*Cores de Fundo (Background)*/
    --background-page: #FFF9E7;
    --background-nav: #3A53E3;
    --background-sobre: #F8CD53;
    --background-footer: #29282B;

    /* Cores das Fontes (texto) */
    --cor-fonte-padrao: #000000;
    --cor-fonte-nav: #FFFFFF;
    --cor-fonte-by: orange;
    --cor-fonte-button-hover: yellow;

    /* Fontes da Página */
    --lato-roboto: 'lato', Roboto;
    --lato-cursiva: 'lato', cursive;

    /* Cores de Efeito */
    --cor-sombra: #C0C0C0;
    --cor-sombra-hover: #191970;
    --cor-button-hover: #191970;
    --cor-placeholder-effect: #191970;
}

/* Zera todas as configurações da tela do Navegador 
O seletor * aplica para todos os elementos*/
* {
    /* Zera todas as áreas de preenchimento */
    padding: 0;

    /* Zera todas as margens, alinhado tudo à esquerda */
    margin: 0;

    /* Define a largura e a altura total 
    da tela incluindo as bordas*/
    box-sizing: border-box;
}

/* Define todas as configurações do Corpo da página */
body {
    
    /* Define a fonte */
    font-family: var(--lato-cursiva);
    
    /* Define a cor da fonte */
    color: var(--cor-fonte-padrao);
    
    /* Define a cor de fundo */
    background-color: var(--background-page);
}

/* Define todas as configurações dos Parágrafos da página */
p {
    margin-bottom: 1.5rem;
    font-size: 1.10rem;
}

/* Define as configurações padrão dos títulos h1, h2 e h3 
w dos links da página */
h1,
h2,
h3,
a {
    /* Define o espaçamento entre as letras */
    letter-spacing: 3px;

    /* Define o "peso" da fonte (intensidade do Negrito) */
    font-weight: 800;
}

/* Define configurações específicas para os títulos h2 e h3 */
h2,
h3 {
    /* Define o alinhamento do texto */
    text-align: center;
}

/* Define configurações específicas para o título h1 */
h1 {
    /* Define o tamanho da fonte */
    font-size: 2rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    text-align: left;
}

/* Define configurações específicas para o título h2 */
h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

/* Define configurações específicas para o título h3 */
h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Define configurações específicas para o link */
a {
    /* Elimina o sublinhado do link */
    text-decoration: none;
}

/* Cria o efeito de sombra ao passar o mouse sobre o link */
a:hover {
    /* Insere uma sombra no texto */
    text-shadow: 0 0 5px var(--cor-sombra-hover);
}

/* Define configurações específicas para o elemento Nav (menu)*/
nav {
    margin: 0 auto;
    width: 80vw;

    /* Exibe os itens na tela no modo flex */
    display: flex;

    /* Insere um espaçamento entre os itens */
    justify-content: space-between;

    background-color: var(--background-nav);
    box-shadow: 2px 2px 5px var(--gray);
    font-size: 1.5rem;
    color: var(--cor-fonte-nav);
    padding: 2.25rem 1.5rem;
}

/* Define configurações específicas para os links do elemento Nav (menu)
e para a Classe titulo */
nav a,
.titulo {
    color: var(--cor-fonte-nav);
    letter-spacing: 3px;
    font-weight: 800;
}

/* Define configurações específicas a classe logo */
.logo {
    display: flex;
    width: 20%;
    justify-content: left;
    gap: 0.5rem;
    align-items: center;
}

/* Define configurações específicas da classe icone */
.icone {
    width: 7rem;
    padding-left: 1rem;
}

/* Define configurações específicas da classe titulo */
.titulo {
    font-size: 2rem;
}

/* Define configurações específicas do elemento ul (lista de links) */
ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

/* Define configurações específicas do elemento main */
main {
    width: 80vw;
    margin: 0 auto;
}

/* Define configurações específicas do elemento Section, id sobre */
 #sobre {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    background-color: var(--background-sobre);
    border-radius: 1rem;
    text-align: justify;    
}

/* Define configurações específicas da classe text_sobre */
.texto_sobre{
    margin: 1.75rem;
}

/* Define configurações específicas da classe foto */
.foto {
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px var(--gray);
}

/* Define configurações específicas do elemento section, id meu_video */
#meu_video {
    margin-bottom: 2rem;
}

/* Define configurações específicas da classe video */
.video {
    width: 60vw;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    margin-top: 2rem;
}

/* Define configurações específicas do elemento footer */
footer {
    width: 80vw;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
    display: flex;

    /* Alinha os elementos um em cada linha */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-footer);
}

/* Define configurações específicas da classe redes_sociais */
.redes_sociais {
    display: flex;

    /* Alinha os elementos em uma única linha */
    flex-direction: row;

    /* Centraliza os ícones */
    justify-content: center;
    gap: 1.25rem;

    /* Define o cursor do Mouse como link (mãozinha) */
    cursor: pointer;
}

/* Define configurações específicas da classe icons */
.icons {
    width: 3.25rem;
    padding: 0 0.5rem;
}

/* Define configurações específicas da classe by */
.by {
    display: flex;
    padding-top: 0.75rem;
    font-size: 1.25rem;
    color: var(--cor-fonte-by);
}

/*Página de Contato*/

/* Define configurações específicas para a linha horizontal */
hr {
    margin: 1.25rem;
}

/* Define configurações específicas do elemento main, id contato */
#contato {
    width: 80vw;
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 2.5rem;
}

/* Define configurações específicas do elemento section, id formulario_mensagem */
#formulario_mensagem {
    width: 60vw;
}

/* Define configurações específicas do elemento section, id meu_video */
#formulario_buscacep {
    width: 40vw;
}

/* Define configurações específicas do elemento label */
label {
    font-family: var(--lato-roboto);
    font-size: 1.15rem;
    margin-left: 1rem;
    font-weight: 500;
}

/* Define configurações específicas dos elementos dos formulários */
input,
textarea,
button {
    font-family: var(--lato-cursiva);
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
}

/* Define configurações específicas dos elementos input e textarea */
input,
textarea {
    border: 1px solid orange;
}

/* Define configurações da propriedade placeholder */
input::placeholder,
textarea::placeholder {
    color: var(--cor-placeholder-effect);
}

/* Define configurações específicas da propriedade focus */
input:focus,
textarea:focus {
    /* Define as propriedades da borda do elemento selecionado */
    outline: 1px solid orangered; 
}

/* Define configurações específicas do elemento button */
button {
    
    background-color: var(--background-nav);
    color: var(--cor-fonte-nav);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--cor-button-hover)
}

/* Define configurações específicas da propriedade hover do elemento button */
button:hover {
    background-color: var(--cor-button-hover);
    color: var(--cor-fonte-button-hover);
}

/* Define configurações específicas da Classe campos-form */
.campos-form {
    margin-bottom: 1rem;
}

/* Define configurações específicas dos elementos de mensagem
de validação dos campos */
#txtNome,
#txtEmail,
#txtMensagem,
#txtCep {
    font-size: 1rem;
    padding: 0.25rem 0;
}

/* Responsividade Minima */

@media (max-width: 1000px) {

    nav{
        width: 100vw;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }

    .logo {
        width: 100vw;
    }

    .titulo{
        text-align: center;
    }

    main{   
        width: 95vw;
    }

    #sobre {
        flex-direction: column-reverse;
    }

    .foto {
        margin-top: 1rem;
    }

    #meu_video {
        width: 95vw;
    }

    .video {
        width: 95vw;
    }

    footer{
        width: 100vw;
    }

    .by {
        font-size: 1rem;
    }

    #contato {
        width: 100vw;
        flex-direction: column;
    }

    #formulario_mensagem,
    #formulario_buscacep {
        width: 85vw;
        margin: 0 auto;
    }

}
